.full-width {
  width: 100%;
}

:host::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white;
}
