<section class="mt-[40px] mx-6">
  <div class="flex justify-between">
    <img
      src="/assets/images/user-profile-photo.png"
      class="w-[100px] h-[100px] flex items-center justify-center border-4 border-[#eb06ff] rounded-full"
      alt="Foto de perfil">
    <app-shared-button
      class="w-[50px] h-[50px] flex items-center justify-center border rounded-full"
      [icon]="'arrow_back_ios_new'"
      [type]="'icon'"
      (click)="toggleSideNav()"
    ></app-shared-button>
  </div>

  <div>
    <h1 class="mat-headline-1 my-8 w-[250px]">Gabriel Jezewski Vargas</h1>
    <div class="flex flex-col justify-between h-[263px] w-[205px] pt-[30px]">
      <button
        (click)="toggleSideNav()"
        mat-basic-button
        class="flex text-lg mb-4">
        <mat-icon class="mr-4">grid_view</mat-icon>
        Categorias
      </button>
      <button
        (click)="toggleSideNav(); onMonthlyTasksClick()"
        mat-basic-button
        class="flex text-lg mb-4">
        <mat-icon class="mr-4">calendar_month</mat-icon>
        Tarefas do mês
      </button>
      <button
        (click)="toggleSideNav(); onWeeklyTasksClick()"
        mat-basic-button
        class="flex text-lg mb-4">
        <mat-icon class="mr-4">date_range</mat-icon>
        Tarefas da semana
      </button>
      <button
        (click)="toggleSideNav(); onDailyTasksClick()"
        mat-basic-button
        class="flex text-lg mb-4">
        <mat-icon class="mr-4">event</mat-icon>
        Tarefas de hoje
      </button>
    </div>
  </div>
<!--  <span class="mat-body-1">Developed by @camilabarpp</span>-->
</section>
