<mat-sidenav-container
  class="h-full px-[5%] sm:px-[10%] bg-light-blue container-section">
  <mat-sidenav
    mode="push"
    [(opened)]="showSideNav"
    class="left-0 fixed flex flex-col justify-center">
    <todo-sidenav
      (monthlyTasksSelected)="onMonthlyTasksSelected()"
      (weeklyTasksSelected)="onWeeklyTasksSelected()"
      (dailyTasksSelected)="onDailyTasksSelected()"
      [showSideNav]="showSideNav"
      (toggledSideNav)="toggleSideNav()"
    ></todo-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="lg:w-[850px] w-full">
    <app-header (toggledSideNav)="toggleSideNav()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

