<mat-sidenav-container
  class="h-full lg:px-[30%] px-[5%] md:px-[10%] bg-light-blue container-section">
  <mat-sidenav
    mode="over"
    [(opened)]="showSideNav"
    class="w-full left-0 fixed bg-dark-blue flex flex-col justify-center">
    <div>
      <todo-sidenav
        (monthlyTasksSelected)="onMonthlyTasksSelected()"
        (weeklyTasksSelected)="onWeeklyTasksSelected()"
        (dailyTasksSelected)="onDailyTasksSelected()"
        [showSideNav]="showSideNav"
        (toggledSideNav)="toggleSideNav()"
      ></todo-sidenav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggledSideNav)="toggleSideNav()"></app-header>
    <section class="mt-[20px]">
      <h1 class="mat-headline-1 text-white mb-8 text-[#041955]">Olá, Gabriel!</h1>
      <todo-category-section></todo-category-section>
    </section>
    <div class="my-[20px]">
        <span class="mat-body-2 text-[#96b3fe]">
          {{currentTaskName}}
        </span>
      <shared-label
        [color]="'secondary'"
        [keywords]="currentTasks"
        (edit)="onEdit($event)"
        (remove)="onRemove($event)"
        (selected)="onSelected($event)">
      </shared-label>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
