<ng-container [ngSwitch]="type">
  <button [type]="buttonEvent" class="color-primary" *ngSwitchDefault mat-button [disabled]="isDisabled"
          [ngClass]="{'text-white':color == 'accent'}" color="{{color}}">
    {{ text }}
    <mat-icon *ngIf="icon">{{icon}}></mat-icon>
  </button>
  <button [type]="buttonEvent" *ngSwitchCase="'stroked'" [disabled]="isDisabled"
          [ngClass]="{'text-white':color == 'accent'}" mat-stroked-button color="{{color}}">
    {{ text }}
    <mat-icon *ngIf="icon">{{icon}}></mat-icon>
  </button>
  <button [type]="buttonEvent" *ngSwitchCase="'raised'" [disabled]="isDisabled"
          [ngClass]="{'text-white':color == 'accent'}" mat-raised-button color="{{color}}">
    {{ text }}
    <mat-icon *ngIf="icon">{{icon}}></mat-icon>
  </button>

  <button [type]="buttonEvent" *ngSwitchCase="'icon'" [disabled]="isDisabled" mat-icon-button color="{{color}}">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
  <button [type]="buttonEvent" *ngSwitchCase="'fab'" [disabled]="isDisabled" mat-fab color="{{color}}">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
  <button [type]="buttonEvent" *ngSwitchCase="'mini-fab'" [disabled]="isDisabled" mat-mini-fab color="{{color}}">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</ng-container>
