<ng-container *ngIf="!!parentForm; else withoutParentForm">
  <mat-form-field [appearance]="appearance"  class="full-width">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <input [min]="minDate"
           [max]="maxDate"
           matInput
           placeholder="{{placeholder}}"
           [formControl]="parentForm"
           [matDatepicker]="$any(picker)"/>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-container>

<ng-template #withoutParentForm>
  <mat-form-field [appearance]="appearance" class="full-width h-[57px] border-2 border-[#041955] rounded-md">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <input [min]="minDate"
           [max]="maxDate"
           matInput
           placeholder="{{placeholder}}"
           [matDatepicker]="$any(picker)"/>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-template>
