<ng-container *ngIf="!!parentForm; else withoutParentForm">
  <mat-checkbox
    [ngClass]="{ 'completed-task': isChecked}"
    class="p-0 m-0"
    color="{{ color }}"
    [formControl]="parentForm"
    [checked]="isChecked">
    <mat-label class="flex items-center mat-body-1 mb-0 text-white">{{ label }}</mat-label>
  </mat-checkbox>
</ng-container>

<ng-template #withoutParentForm>
  <mat-checkbox
    [ngClass]="{ 'completed-task': isChecked}"
    class="p-0 m-0"
    color="{{ color }}"
    [checked]="isChecked">
    <mat-label class="flex items-center mat-body-1 mb-0 text-white">{{ label }}</mat-label>
  </mat-checkbox>
</ng-template>
