$custom-primary-color: (
  50 : #ede7fb,
  100 : #d1c4f6,
  200 : #b39df0,
  300 : #9576e9,
  400 : #7e58e5,
  500 : #3450a1,
  600 : #5f35dc,
  700 : #542dd8,
  800 : #4a26d3,
  900 : #3919cb,
  A100 : #fefeff,
  A200 : #d3cbff,
  A400 : #a898ff,
  A700 : #927fff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,)
);

$custom-secondary-color: (
  50 : #ede7fb,
  100 : #d1c4f6,
  200 : #b39df0,
  300 : #9576e9,
  400 : #7e58e5,
  500 : #041955,
  600 : #5f35dc,
  700 : #542dd8,
  800 : #4a26d3,
  900 : #3919cb,
  A100 : #fefeff,
  A200 : #d3cbff,
  A400 : #a898ff,
  A700 : #927fff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,)
);

$custom-tertiary-color: (
  50 : #ede7fb,
  100 : #d1c4f6,
  200 : #b39df0,
  300 : #9576e9,
  400 : #7e58e5,
  500 : #eb06ff,
  600 : #5f35dc,
  700 : #542dd8,
  800 : #4a26d3,
  900 : #3919cb,
  A100 : #fefeff,
  A200 : #d3cbff,
  A400 : #a898ff,
  A700 : #927fff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,)
);

$custom-accent-color: (
  50 : #fff3e8,
  100 : #ffe2c6,
  200 : #ffcea1,
  300 : #ffba7b,
  400 : #ffac5e,
  500 : #eb06ff,
  600 : #ff953c,
  700 : #ff8b33,
  800 : #ff812b,
  900 : #ff6f1d,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffdece,
  A700 : #ffcdb4,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-warn-color: (
  50 : #ffe8e8,
  100 : #ffc6c6,
  200 : #ffa1a1,
  300 : #ff7b7b,
  400 : #ff5e5e,
  500 : #ff4242,
  600 : #ff3c3c,
  700 : #ff3333,
  800 : #ff2b2b,
  900 : #ff1d1d,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffcece,
  A700 : #ffb4b4,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,)
);

$custom-success-color: (
  50 : #e8faed,
  100 : #c5f2d3,
  200 : #9fe9b6,
  300 : #78e098,
  400 : #5bda82,
  500 : #3ed36c,
  600 : #38ce64,
  700 : #30c859,
  800 : #28c24f,
  900 : #1bb73d,
  A100 : #edfff1,
  A200 : #baffc7,
  A400 : #87ff9e,
  A700 : #6eff89,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,)
);

  $custom-white-color: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
      50: #ffffff,
      100: #ffffff,
      200: #ffffff,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #ffffff,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  );
